
.deni{

  height: 100%;
  padding: 15px;
}
.td{
  background-color: yellow;
  height: 100%;

}
.addAircraft{
  text-align: center;
  align-items: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-bottom: 5%;

}
.row{
  margin-bottom: 3%;
  text-align: center;
  align-items: center;
}
.col{
  margin-left: 3%;
  margin-right: 3%;
}

.textbox{
margin: 0%;
  margin-left: 10%;
  padding: 0%;
}
.addcol{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.cen{text-align: center;
  align-items: center;
  margin: auto;
  width: 90%;
  /*border: 3px solid green;*/
  padding: 10px;
}
.searchbuttonCol{
  margin: 0%;
  padding: 0%;
  margin-right: 3%;
}

.cenlist{text-align: center;
  align-items: center;
  margin: auto;
  width: 80%;
  /*border: 3px solid green;*/
  padding-left: 10px;
}
