<div class="example-button-container">
  <button
    class="nothing"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
    (click)="addItem()"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</div>
<div class="air-dtl">
  <h2 class="airline">American Airline</h2>
  <h3 class="aircraft">BA-340 | Boeing 747</h3>
</div>

<table class="table table-borderless">
  <thead></thead>
  <tbody>
    <tr>
      <td class="flight-col">{{ flightdetails.scheduledStartTime }}</td>
      <td class="time-col">
        <tr>
          <img src="https://img.icons8.com/color/96/000000/arrow--v1.png" />
        </tr>
        <tr>
          {{timediff}}
        </tr>
      </td>
      <td class="flight-col">{{ flightdetails.scheduledEndTime }}</td>
      <td class="flight-col">{{ flightdetails.source }}</td>
      <td class="flight-col">
        <img
          src="https://img.icons8.com/color/96/000000/airplane-mode-on--v1.png"
        />
      </td>
      <td class="flight-col">{{ flightdetails.destination }}</td>
    </tr>
  </tbody>
</table>


<div class="booking-form" [formGroup]="orderForm">
  <div
    formArrayName="items"
    *ngFor="let item of getControls(); let i = index"
  >
    <div [formGroupName]="i">

      <div class="row">
        <div class="col-2">
          <label> Passanger Name</label>
        </div>
        <div class="col-4">
          <input
            type="text"
            formControlName="name"
            class="form-control"
            placeholder=" Name"
            ngModel
          />
        </div>
        <div class="col-2">
          <label> Age</label>
        </div>
        <div class="col-4">
          <input
            type="text"
            formControlName="age"
            class="form-control"
            placeholder=" Age"
            ngModel
          />
        </div>

      </div>

      <div class="row">

        <div class="col-2">
          <label> Gender</label>
        </div>
        <div class="col-4">
          <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="gender"
                  id="exampleRadios1"
                  value="male"
                />
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="gender"
                  id="exampleRadios2"
                  value="female"
                />
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="gender"
                  id="gender"
                  value="others"
                />
                <label class="form-check-label" for="exampleRadios2">
                  Others
                </label>
              </div>
        </div>
            <div class="col-2">
          <label> Meal</label>
        </div>
        <div class="col-4">
          <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="meal"
                  id="exampleRadios1"
                  value="veg"
                />
                <label class="form-check-label" for="exampleRadios1">
                  Veg
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="meal"
                  id="exampleRadios2"
                  value="non-veg"
                />
                <label class="form-check-label" for="exampleRadios2">
                  Non-Veg
                </label>
              </div>

        </div>

      </div>


      <div>

      </div>
    </div>
  </div>
</div>
<div class="fixed-bottom  submit-button">
<button class="btn btn-success submit-button" (click)="BookTicket()">Book Ticket</button>
</div>
