<form #search="ngForm" (ngSubmit)="SearchFlights(search.value)">
  <div class="row">
    <div class="col">
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="airport"
          [searchKeyword]="keyword"
          name="source"
          placeholder="Source"
          class="form-control"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"
          historyIdentifier="airport"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          ngModel
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>


<div class="col">
        <ng-autocomplete
          [data]="airport"
          [searchKeyword]="keyword"
          name="destination"
          placeholder="Destination"
          class="form-control"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          (inputFocused)="onFocused($event)"

          historyIdentifier="airport"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          ngModel
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>

</div>

    <div class="col">
      <input
        type="text"
        name="departure"
        onfocus="(this.type='datetime-local')"
        class="form-control"
        placeholder="Departure"

        ngModel
      />
    </div>
    <div class="col">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
</form>

<div *ngIf="listFlight.length">
  <table>
    <tr>
      <th class="deni">Flight Number</th>
      <th class="deni">Source</th>

      <th class="deni"></th>
      <th class="deni">Schedule Start Time</th>
      <th class="deni">Schedule End TIme</th>
      <th class="deni">Available Seats</th>
      <th class="deni">Available Seats</th>
    </tr>

    <tr *ngFor="let flight of listFlight">
      <td class="deni">{{ flight.flightNo }}</td>
      <td class="deni">{{ flight.source }}</td>
      <td class="deni">
        <div class="line" style="margin-right: 2px">
          <p class="timediff">
            {{ flight.scheduledEndTime - flight.scheduledStartTime }}
          </p>
        </div>
      </td>
      <td class="deni">{{ flight.destination }}</td>
      <td class="deni">{{ flight.scheduledStartTime }}</td>
      <td class="deni">{{ flight.scheduledEndTime }}</td>
      <td class="deni">{{ flight.availableSeat }}</td>
      <td class="deni">
        <button
          class="btn btn-primary bookflight"
          (click)="bookticket(flight)"
          data-toggle="modal"
          data-target="#myModallogin
"
        >
          Book Ticket
        </button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="noFlight"><p>No Flight found</p></div>
