<div class="cen">
  <mat-tab-group>
    <mat-tab label="Upcoming">
      <br />
      <mat-list *ngIf="upcomingListTicket.length">
        <mat-card class="matcard" *ngFor="let ticket of upcomingListTicket">
          <mat-card-title>{{ ticket.passangerName }}</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <label>Booking id</label>
              </div>
              <div class="col board-details">
                <label>{{ ticket.bookingId }}</label>
              </div>

              <div class="col">
                <label>customer id</label>
              </div>
              <div class="col board-details">
                <label>{{ ticket.customerId }} </label>
              </div>
               <div class="col">
                <label>Gate Number </label>
              </div>
              <div class="col board-details">
                <label>{{ ticket.gateNumber }} </label>
              </div>

            </div>
            <div class="row">
              <div class="col">
                <label>Source </label>
              </div>
              <div class="col board-details">
                <label>{{ ticket.source }} </label>
              </div>

               <div class="col">
                <label> Destination</label>
              </div>
              <div class="col board-details">
                <label>{{ ticket.destination }} </label>
              </div>


              <div class="col">
                <label>Total Pasenger</label>
              </div>
              <div class="col board-details">
                <label>{{ ticket.totalPasenger }} </label>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button class="button-blue" (click)="openTic(ticket)">View Details</button>
            <button mat-button class="button-red">Modify</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
      <div *ngIf="listTicket.length == 0">No Ticket found</div>
    </mat-tab>
    <mat-tab label="Past Journey">
      <br />
      <mat-list *ngIf="pastListTicket.length">
        <mat-card class="matcard" *ngFor="let ticket of pastListTicket">
          <mat-card-title>{{ ticket.passangerName }}</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  name="source"
                  class="form-control"
                  placeholder="source"
                />
              </div>

              <div class="col">
                <input
                  type="text"
                  name="destination"
                  class="form-control"
                  placeholder="destination"
                />
              </div>
              <div class="col">
                <input
                  type="type"
                  name="departure"
                  onfocus="(this.type='datetime-local')"
                  class="form-control"
                  placeholder="Departure"
                />
              </div>
              <div class="col">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  name="source"
                  class="form-control"
                  placeholder="source"
                />
              </div>

              <div class="col">
                <input
                  type="text"
                  name="destination"
                  class="form-control"
                  placeholder="destination"
                />
              </div>
              <div class="col">
                <input
                  type="type"
                  name="departure"
                  onfocus="(this.type='datetime-local')"
                  class="form-control"
                  placeholder="Departure"
                />
              </div>
              <div class="col">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button class="button-blue">View Details</button>
            <button mat-button class="button-red">Cancel</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
      <div *ngIf="listTicket.length == 0">No Ticket found</div>
    </mat-tab>
    <mat-tab label="Cancelled Flights">
      <br />
      <mat-list *ngIf="listTicket.length">
        <mat-card class="matcard" *ngFor="let ticket of listTicket">
          <mat-card-title>{{ ticket.passangerName }}</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <h2>Source</h2>
              </div>

              <div class="col">
                <h2>Destination</h2>
              </div>
              <div class="col">
                <input
                  type="type"
                  name="departure"
                  onfocus="(this.type='datetime-local')"
                  class="form-control"
                  placeholder="Departure"
                />
              </div>
              <div class="col">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  name="source"
                  class="form-control"
                  placeholder="source"
                />
              </div>

              <div class="col">
                <input
                  type="text"
                  name="destination"
                  class="form-control"
                  placeholder="destination"
                />
              </div>
              <div class="col">
                <input
                  type="type"
                  name="departure"
                  onfocus="(this.type='datetime-local')"
                  class="form-control"
                  placeholder="Departure"
                />
              </div>
              <div class="col">
                <button class="btn btn-primary">Search</button>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button class="button-blue">View Details</button>
            <button mat-button class="button-red">Cancel</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
      <div *ngIf="listTicket.length == 0">No Ticket found</div>
    </mat-tab>
  </mat-tab-group>
</div>
